
<ul id="songList">
	<%- include('../partials/search') %>
	<% history.forEach(title => { %> <% songs.forEach(song => { %> <% if (title
	=== song.title) { %>
	<li class="song-item">
		<p class="title"><span>Назва </span> <%= song.title %></p>
		<p class="artist"><span>Виконавець </span><%= song.artist %></p>
		
		<audio controls name="<%= song.title %>">
			<source src="<%= song.filePath %>" type="audio/mpeg" />
			Your browser does not support the audio tag.
		</audio>
	</li>
	<% } %> <% }) %> <% }) %>
</ul>
