<section class="home">
	<h2>Welcome <%= username %></h2>
	<p>Here you can listen your favourite music</p>
	<h2>Пісні дня для вас</h2>
	<ul>
		<% songs.forEach((song) => { %>
		<li>
			<div>
				<h3>
					Title:<br />
					<%= song.title %>
				</h3>
				<p>
					Artist:<br />
					<%= song.artist %>
				</p>
			</div>
			<audio controls>
				<source src="./<%= song.filePath %>" type="audio/mpeg" />
				Your browser does not support the audio tag.
			</audio>
		</li>
		<% }); %>
	</ul>
	<div>
		<p>Завітайте в Бібліотеку</p>
		<a class="link" href="<%= links.find(link=>link.url==='/library').url %>"
			>Бібліотека</a
		>
	</div>
</section>
<script>
	
</script>
