<section class="home">
	<div class="text-content">
		<p>З поверненням, <span><%= username %></span>! </p>
		<p>На цьому порталі Ви можете слухати улюблені пісні</p>
		<p>Пісні дня для вас</p>
	</div>
	<ul>
	  <% songs.forEach((song) => { %>
	  <li>
		<div class="song-content">
		  <h3>
			<%= song.title %>
		  </h3>
		  <p>
			<%= song.artist %>
		  </p>
		</div>
		<audio loop preload="metadata" controls data-song-title="<%= song.title %>" data-username="<%= username %>">
		  <source src="./<%= song.filePath %>" type="audio/mpeg" />
		  Your browser does not support the audio tag.
		</audio>
	  </li>
	  <% }); %>
	</ul>
	<div>
	  <p>Завітайте в Бібліотеку</p>
	  <a class="link" href="<%= links.find(link => link.url === '/library').url %>">
		Бібліотека
	  </a>
	</div>
  </section>
<script>

</script>