<div id="addSongPopup" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePopup('addSongPopup')">&times;</span>
        <h2>Add Song</h2>
        <form id="addSongForm">
            <select name="songs" multiple>
                <% songs.forEach(song => { %>
                    <option value="<%= song._id %>"><%= song.title %></option>
                <% }); %>
            </select>
            <button type="submit">Add Selected Songs</button>
        </form>
    </div>
</div>
<div id="createPlaylistPopup" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePopup('createPlaylistPopup')">&times;</span>
        <h2>Створити плейліст</h2>
        <form id="createPlaylistForm" data-id="<%= id %>">
            <input type="text" name="title" placeholder="Назва плейліста" required />
            <select name="songs" multiple>
                <% songs.forEach(song => { %>
                    <option value="<%= song._id %>"><%= song.title %></option>
                <% }); %>
            </select>
            <button type="submit">Створити</button>
        </form>
    </div>
</div>
<div id="removeSongPopup" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePopup('removeSongPopup')">&times;</span>
        <h2>Remove Song</h2>
        <form id="removeSongForm">
            <p>Are you sure you want to remove this song?</p>
            <button type="submit">Remove Song</button>
        </form>
    </div>
</div>

<div id="editPlaylistPopup" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePopup('editPlaylistPopup')">&times;</span>
        <h2>Edit Playlist</h2>
        <form id="editPlaylistForm">
            <input type="hidden" name="playlistId" value="">
            <input type="text" name="title" placeholder="New Playlist Title">
            <select name="songs" multiple>
                <% songs.forEach(song => { %>
                    <option value="<%= song._id %>"><%= song.title %></option>
                <% }); %>
            </select>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>


<ul id="playlists">
    <h3>Список плейлистів</h3>
    <% playlists.forEach(playlist => { %>
    <li class="playlist-item" data-id="<%= playlist._id %>">
        <p class="playlist-title">Плейлист: <%= playlist.title %></p>
        <p><b>Пісні</b></p>
        <ul>
            <% playlist.songs.forEach(song => { %>
            <li>
                <p class="playlist-song-title"><span>Назва </span><%= song.title %></p>
                <p class="playlist-song-artist"><span>Виконавець </span><%= song.artist %></p>
                <p class="playlist-song-album"><span>Альбом </span><%= song.album %></p>
                <p class="playlist-song-duration"><span>Тривалість </span><%= song.duration %> minutes</p>
                <audio controls name="<%= song.title %>">
                    <source src="<%= song.filePath %>" type="audio/mpeg" />
                    Your browser does not support the audio tag.
                </audio>
                <button class="remove-song" data-song-id="<%= song._id %>">Видалити</button>
            </li>
            <% }); %>
        </ul>
        <p><span>Дії з плейлістом</span></p>
        <button class="edit-playlist">Змінити</button>
        <button class="delete-playlist">Видалити</button>
        <button class="add-song">Додати пісню</button>
    </li>
    <% }); %>
</ul>
<button id="createPlaylistButton">Створити плейліст</button>
<div id="message"></div>
<script>
      function closePopup(popupId) {
        document.getElementById(popupId).style.display = 'none';
    }
</script>

