<section class="profile">
	<div class="profile__avatar"><%= user.username[0] %></div>
	<div>
		<h2>Ім'я користувача: <%= user.username %></h2>
	</div>
	<div>
		<h2>Ел. пошта: <%= user.email %></h2>
		
	</div>
	<div>
		<h2 class="profile__password">
			Піроль: <%= user.password.substring(0,10).replace(/./g, '*') %>
		</h2>
		
	</div>
	<div>
		<a class="link" href="<%= links.find(link=>link.url==='/logout').url %>"
			>Logout</a
		>
	</div>
</section>

