<section class="profile">
	<div class="profile__avatar"><%= user.username[0] %></div>
		<p><span>Ім'я користувача</span> <%= user.username %></p>
	
		<p><span>Ел. пошта </span> <%= user.email %></p>
	
		<p class="profile__password">
			<span>Пароль </span> <%= user.password.substring(0,10).replace(/./g, '*') %>
		</p>	
	</div>
<a class="link" href="<%= links.find(link=>link.url==='/logout').url %>">Вийти з акаунту</a>
	
</section>

